<!doctype html>
<head>
<meta charset="utf-8">
<title>dokterTanam</title>

<!-- meta -->
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

<!-- styles -->
<link href="static/css/modern-business.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="static/css/font-awesome-4.1.0.min.css" />
<link type="text/css" rel="stylesheet" href="static/css/bootstrap-3.1.1.min.css">
<link type="text/css" rel="stylesheet" href="static/css/bootstrap-theme-3.1.1.min.css" />
<link type="text/css" rel="stylesheet" href="static/css/layout.main.css" />
<link type="text/css" rel="stylesheet" href="static/css/main.css" />
<link type="text/css" rel="stylesheet" href="static/css/main.responsive.css" />
<link type="text/css" rel="stylesheet" href="static/css/main.quickfix.css" />
<!-- /styles -->

<!-- favicons -->
<link rel="shortcut icon" href="static/ico/pagelines-brands.png">
<!-- /favicons -->

<!-- scripts -->
<script src="static/js/libs/modernizr-2.8.2.min.js"></script>
<!--[if lt IE 9]><script src="static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
<!-- /scripts -->
<style>
.navbar-fixed-top {
    min-height: 70px;
}
.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 70px;
    color: #f0524d !important;
    font-size: 1.4em !important;
    font-weight: bold;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 70px;
    color: black !important;
    font-size: 1.2em !important;
}
.img-responsive-u{
    height:330px;
    width: 350px;
}
@media (max-width: 650px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}
</style>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand" href="/">dokterTanam
                <i class="fa fa-pagelines" aria-hidden="true"></i></p>
        </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
              <li {% if request.endpoint == 'index' %} {% endif %}><a href="index.html">Beranda</a></li>
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">Pengetahuan <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li {% if request.endpoint == 'hamapenyakit' %} {% endif %}><a href="hamapenyakit.html">Hama & Penyakit</a></li>
                      <li {% if request.endpoint == 'bercocoktanam' %} {% endif %}><a href="bercocoktanam.html">Bercocok Tanam</a></li>
                      <li {% if request.endpoint == 'jawabanahli' %} {% endif %}><a href="jawabanahli.html">Jawaban Ahli</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">Solusi <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li {% if request.endpoint == 'kenalipenyakit' %} {% endif %}><a href="kenalipenyakit.html">Kenali Penyakit</a></li>
                      <li {% if request.endpoint == 'tanyaahli' %} {% endif %}><a href="tanyaahli.html">Tanya Ahli</a></li>
                  </ul>
              </li>
              <li {% if request.endpoint == 'berita' %} {% endif %}><a href="berita.html">Berita</a></li>
              <li {% if request.endpoint == 'tentang' %} {% endif %}><a href="tentang.html">Tentang</a></li>
          </ul>
        </div>
    </div>
</div>

    <main id="content" role="main" class="container">
        <div class="row">
            <div class="col-sm-6" style="margin-top:3em">
                <img class="img-responsive" style="height:330px; width:600px" src="https://images.pexels.com/photos/461146/pexels-photo-461146.jpeg?cs=srgb&dl=adult-business-commerce-461146.jpg&fm=jpg" alt="">
            </div>
            <div class="col-lg-6" style="margin-top:5em">
                <h1>Kami Menghubungkan Petani dengan Para Ahli di Bidangnya</h1>
                <h1>(Coming Soon)</h1>
                <p>semua pertanyaan akan diteruskan pada ahlinya.......dengan mengisinya kami akan membalas melalui email dan memposting di website ini</p>
            </div>
        </div>
        <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Isi Disini</h3>
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="control-group form-group">
            <div class="controls">
              <label>Nama Lengkap :</label>
              <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Alamat Email :</label>
              <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Pertanyaan atau Pesan :</label>
              <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->
          <button type="submit" class="btn btn-danger" id="sendMessageButton">Kirim</button>
        </form>
      </div>

    </div>
    </main>
    <div id="footer" style="margin-top:3em">
        <div class="container">
            <p>DC 101 Lab &copy; All Rights Reserved.</p>
        </div>
    </div>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="static/js/libs/bootstrap-3.1.1.min.js" defer></script>
  <script type="text/javascript" src="static/js/plugins.js" defer></script>
  <script type="text/javascript" src="static/js/script.js" defer></script>
  <!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->
  <script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
  </script>

</body>
</html>
